<h1>Routing/child-routing/Routerelink Active:</h1>

    <ul class="mainnav">
   <li routerLinkActive = "active"><a routerLink = "/dashboard" >Dashboard</a></li> 
  <li  routerLinkActive = "active"><a routerLink = "./login">Login</a></li>
  <li routerLinkActive = "active"><a routerLink="/activeclr">activeclr</a></li>
</ul>

<router-outlet></router-outlet>
 <h1>ngfor loop:</h1>
<button (click)="addfun()">click me</button>
<app-box color="red"></app-box>
<app-box [color] = "b" *ngFor="let b of boxes"></app-box>


